<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/users/dashboard">Movie App</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="/users/dashboard"
            >Home</span></a
        >
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/movies">Show Movie</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/users/logout" target="_blank" class="btn btn-secondary">Logout</a>
            </li>
    </ul>
    </div>
</nav>