<%- include('./partials/header.ejs')  %> 
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
    <h1 class="display-4">Administration</h1>
    <p class="lead">Welcome <%= user.fullname %></p>
    </div>
</div
